{% extends "base.html" %}

{% block head %}
<title>Chat</title>
{% endblock %}


{% block body %}
        <div style="padding: 20px; height:AUTO;text-align: center;">
          <div>
            <div style="text-align: center;"><h1 style="text-align: center; color: blue;font-weight: bolder;"> Chat with SMARTBOT</h1><button onclick="Home()" style="cursor: pointer;float: right;background-color:red; color: white; font-size:medium;padding:5px; outline:10;">Go To Home</button></div>
          </div>
          <div style="height: 8vi;"></div>
          <div>
          <input type="text" id="Input" placeholder="Please let me know how could I help you?" style=" padding: 10px; width: auto;max-width: 80vw;width:100%;height: 5vh;">
          </div>
          <div style="height: 5vi;"></div>
          <button onclick="getReply()" style="cursor: pointer ; background-color:blue; color: aliceblue; font-size: larger;padding:5px; outline:10;">Generate response</button>
          <div style="height: 5vi;"></div>
          <h2 id="Output" style=" padding: 10px;height: auto;font-weight: 100;"></h2>
        </div>
  
    <script>
      function getReply() {
        const ask = document.getElementById('Input').value;
        const xhr = new XMLHttpRequest();
        xhr.open('POST', '/api/ask');
        xhr.setRequestHeader('Content-Type', 'application/json');
        xhr.onload = function() {
          const response = JSON.parse(xhr.responseText);
          document.getElementById('Output').textContent = response.reply;
        };
        xhr.send(JSON.stringify({ ask }));
      }
      function Home(){
            window.location.href = "http://127.0.0.1:5000/";
        }

    </script>
{% endblock %}
