<!DOCTYPE html>
<html>
    <body>
        <div style="padding: 20px; height: 100vh;text-align: center;">
            <div>
                <div style="text-align: center;"><h1 style="text-align: center;"> Welcome to SmartBOT</h1><button style="float: right;">Go To Home</button></div>
              </div>
            <div style="height: 10vi;"></div>
            <label for="input"> </label>
            <form method="GET" action="/Chat">
                <label for="name">Name:</label>
                <input type="text" id="name" name="name"><br>
              
                <label for="email">Email:</label>
                <input type="email" id="email" name="email"><br>
              
                <label for="message">Message:</label>
                <textarea id="message" name="message"></textarea><br>
              
                <button type="submit">Submit</button>
              </form>
            <input type="text" id="input" placeholder="Please let me know how could I help you?" style="padding: 10px; width: auto;max-width: 80vw;width:100%;height: 5vh;"/>
            <div style="height: 5vi;"></div>
            <button style="padding: 10px; align-self: center;text-align: center;height: 50px;color: white;background-color: blue;font-size: 2vi;">Generate</button>
            <div style="height: 5vi;"></div>
            <textarea placeholder="Enter some more text..." style="width: 100%; height: 30px;padding: 10px;"></textarea>
        </div>
    </body>
</html>